.filter-select .ant-select {
  min-width: 100px;
  box-shadow: 0 0 33px rgba(0, 11, 43, 0.05);
}

.filter-select .ant-select-selector {
  border-radius: var(--small-border-radius) !important;
  box-shadow: unset !important;
}

.filter-select
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #f1f1f1;
  height: 36px;
}

.filter-select
  .ant-select-single
  .ant-select-selector
  .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  line-height: 36px;
}

.filter-select:not(.ant-select-disabled):hover .ant-select-selector,
.filter-select .ant-select-focused .ant-select-selector {
  border-color: var(--primary-color) !important;
}

.filter-select .ant-select-arrow {
  color: var(--primary-color);
  margin-top: -4px;
}
