
.full-width {
    width: 100%;
}

.weight-500 {
    font-weight: 500;
}

/* Flex Classes*/
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-2 {
    gap: 20px
}


.border-divider {
  border: 0.5px solid #e1e4e7;
  border-radius: 4px;
}

/* Margins */
.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

