:root {
  
  --small-font: 0.875rem; /*14px*/
  --base-font: 1rem; /*16px*/
  --base-lg-font: 1.125rem; /*18px*/

  --secondary-color: #788192;
  --primary-black-color: #0a0017;
}

/* FontClasses*/

.text-base {
  font-size: var(--base-font);
}

.text-sm {
  font-size: var(--small-font);
}

.primary-black {
  color: var(--primary-black-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.full-width {
    width: 100%;
}

.weight-500 {
    font-weight: 500;
}

/* Flex Classes*/
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.gap-2 {
    gap: 20px
}

.flex-item-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
}

.border-divider {
  border: 0.5px solid #e1e4e7;
  border-radius: 4px;
}

/* Margins */
.mb-10 {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}


/* Other CSS*/
.pointer {
  cursor: pointer;
}

.disabled {
  cursor: no-drop;
}

.text-right {
  text-align: right;
}